Repository o3de/o3de-extras, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-network-maintainers, @o3de/sig-platform-reviewers, @o3de/sig-platform-maintainers, @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add that the Gem does not work with the Release
  Gems/ROS2/README.md
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

ROS2 Gem, fix missing includes in XacroUtils.cpp
  Gems/ROS2/Code/Source/RobotImporter/xacro/XacroUtils.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Automatically adjust if ROS2FrameComponent is dynamic or static.
  Gems/ROS2/Code/Include/ROS2/Frame/ROS2FrameComponent.h
  Gems/ROS2/Code/Source/Frame/ROS2FrameComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

ROS2 Gem, fix missing includes in XacroUtils.cpp (#160)
  Gems/ROS2/Code/Source/RobotImporter/xacro/XacroUtils.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add that the Gem does not work with the Release (#120)
  Gems/ROS2/README.md
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjust to review
  Gems/ROS2/Code/Source/Frame/ROS2FrameComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Review changes v2
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRegistrarBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarSystemBus.h
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjusted to review
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjust to suggestions
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Review changes
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRegistrarBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarSystemBus.h
  Gems/ROS2/Code/Include/ROS2/ROS2Bus.h
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
  Gems/ROS2/Code/Source/ROS2EditorModule.cpp
  Gems/ROS2/Code/Source/ROS2ModuleInterface.h
  Gems/ROS2/Code/Source/ROS2SystemComponent.cpp
  Gems/ROS2/Code/Source/ROS2SystemComponent.h
  Gems/ROS2/Code/ros2_editor_files.cmake
  Gems/ROS2/Code/ros2_files.cmake
  Gems/ROS2/Code/ros2_header_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Review changes
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRegistrarBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarSystemBus.h
  Gems/ROS2/Code/Include/ROS2/ROS2Bus.h
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.h
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
  Gems/ROS2/Code/Source/ROS2ModuleInterface.h
  Gems/ROS2/Code/Source/ROS2SystemComponent.h
  Gems/ROS2/Code/ros2_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Fixed initialization of component
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add Lidar Implementation Modularity
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarSystemBus.h
  Gems/ROS2/Code/Include/ROS2/ROS2Bus.h
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.h
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
  Gems/ROS2/Code/Source/ROS2SystemComponent.cpp
  Gems/ROS2/Code/Source/ROS2SystemComponent.h
  Gems/ROS2/Code/ros2_files.cmake
  Gems/ROS2/Code/ros2_header_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add Entity Exclusion
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRegistrarBus.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjustment automatically ROS2FrameComponent to publish static or dynamic transform (#119)
  Gems/ROS2/Code/Include/ROS2/Frame/ROS2FrameComponent.h
  Gems/ROS2/Code/Source/Frame/ROS2FrameComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Added acceleration to vehicle dynamics. (#102)
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.h
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/SkidSteeringDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/SkidSteeringDriveModel.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/AckermannModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/AckermannModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/SkidSteeringModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/SkidSteeringModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/Utilities.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/Utilities.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add lidar modularity for ROS2 Gem (#101)
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRegistrarBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarSystemBus.h
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.h
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
  Gems/ROS2/Code/Source/ROS2EditorModule.cpp
  Gems/ROS2/Code/Source/ROS2ModuleInterface.h
  Gems/ROS2/Code/Source/ROS2SystemComponent.h
  Gems/ROS2/Code/ros2_editor_files.cmake
  Gems/ROS2/Code/ros2_files.cmake
  Gems/ROS2/Code/ros2_header_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add missing includes
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add helper function to initialize variable rate shading image (#79)
  Gems/XR/Code/Include/XR/XRSystem.h
  Gems/XR/Code/Source/XRSystem.cpp
Owners: @o3de/sig-platform-reviewers, @o3de/sig-platform-maintainers

Fix compilation errors for no-unity builds
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Fix compilation errors for no-unity builds (#170)
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjust ROS2 Gem to recent changes in PhysX Gem.
  Gems/ROS2/Code/Source/RobotImporter/URDF/URDFPrefabMaker.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjustment automatically ROS2FrameComponent to publish static or dynamic transform (#119)
  Gems/ROS2/Code/Include/ROS2/Frame/ROS2FrameComponent.h
  Gems/ROS2/Code/Source/Frame/ROS2FrameComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add helper function to initialize variable rate shading image (#79)
  Gems/XR/Code/Include/XR/XRSystem.h
  Gems/XR/Code/Source/XRSystem.cpp
Owners: @o3de/sig-platform-reviewers, @o3de/sig-platform-maintainers

Add lidar modularity for ROS2 Gem (#101)
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRaycasterBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarRegistrarBus.h
  Gems/ROS2/Code/Include/ROS2/Lidar/LidarSystemBus.h
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarEditorSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.h
  Gems/ROS2/Code/Source/Lidar/LidarSystem.cpp
  Gems/ROS2/Code/Source/Lidar/LidarSystem.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.h
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.h
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.cpp
  Gems/ROS2/Code/Source/Lidar/ROS2LidarSensorComponent.h
  Gems/ROS2/Code/Source/ROS2EditorModule.cpp
  Gems/ROS2/Code/Source/ROS2ModuleInterface.h
  Gems/ROS2/Code/Source/ROS2SystemComponent.h
  Gems/ROS2/Code/ros2_editor_files.cmake
  Gems/ROS2/Code/ros2_files.cmake
  Gems/ROS2/Code/ros2_header_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

change location of PIDConfiguration to ease a general future usage
  Gems/ROS2/Code/Include/ROS2/Manipulator/MotorizedJointComponent.h
  Gems/ROS2/Code/Include/ROS2/Utilities/Controllers/PidConfiguration.h
  Gems/ROS2/Code/Source/Utilities/Controllers/PidConfiguration.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.h
  Gems/ROS2/Code/ros2_files.cmake
  Gems/ROS2/Code/ros2_header_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Added acceleration to vehicle dynamics. (#102)
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.h
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/SkidSteeringDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/SkidSteeringDriveModel.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/AckermannModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/AckermannModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/SkidSteeringModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/SkidSteeringModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/Utilities.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/Utilities.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Fix compilation errors for no-unity builds (#170)
  Gems/ROS2/Code/Source/Lidar/LidarRaycaster.cpp
  Gems/ROS2/Code/Source/Lidar/LidarRegistrarSystemComponent.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplate.cpp
  Gems/ROS2/Code/Source/Lidar/LidarTemplateUtils.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

New RosFrame logic to choose between dynamic and static tf It is based on Joint type
  Gems/ROS2/Code/CMakeLists.txt
  Gems/ROS2/Code/Source/Frame/ROS2FrameComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Add skid steering and adjust vehicle dynamics. (#86)
  Gems/ROS2/Assets/Materials/wheel_material.physxmaterial
  Gems/ROS2/Code/CMakeLists.txt
  Gems/ROS2/Code/Include/ROS2/VehicleDynamics/VehicleInputControlBus.h
  Gems/ROS2/Code/Source/ROS2ModuleInterface.h
  Gems/ROS2/Code/Source/ROS2SystemComponent.cpp
  Gems/ROS2/Code/Source/RobotControl/Controllers/AckermannController/AckermannControlComponent.cpp
  Gems/ROS2/Code/Source/RobotControl/Controllers/SkidSteeringController/SkidSteeringControlComponent.cpp
  Gems/ROS2/Code/Source/RobotControl/Controllers/SkidSteeringController/SkidSteeringControlComponent.h
  Gems/ROS2/Code/Source/RobotImporter/URDF/UrdfParser.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModel.h
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/SkidSteeringDriveModel.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/SkidSteeringDriveModel.h
  Gems/ROS2/Code/Source/VehicleDynamics/ManualControlEventHandler.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelComponents/AckermannModelComponent.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelComponents/AckermannModelComponent.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelComponents/SkidSteeringModelComponent.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelComponents/SkidSteeringModelComponent.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/AckermannModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/AckermannModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/SkidSteeringModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/ModelLimits/SkidSteeringModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/Utilities.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/Utilities.h
  Gems/ROS2/Code/Source/VehicleDynamics/VehicleInputs.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/VehicleInputs.h
  Gems/ROS2/Code/Source/VehicleDynamics/VehicleModelComponent.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/VehicleModelComponent.h
  Gems/ROS2/Code/Source/VehicleDynamics/VehicleModelLimits.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/VehicleModelLimits.h
  Gems/ROS2/Code/Source/VehicleDynamics/WheelControllerComponent.cpp
  Gems/ROS2/Code/Source/VehicleDynamics/WheelControllerComponent.h
  Gems/ROS2/Code/Source/VehicleDynamics/WheelDynamicsData.h
  Gems/ROS2/Code/ros2_files.cmake
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Fix submesh handling in URDF importer in ROS2 Gem. (#85)
  Gems/ROS2/Code/Source/RobotImporter/Utils/SourceAssetsStorage.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Update prefabs with ed_physxUpdatePrefabsWithColliderComponents for PhysX (#116)
  Gems/ROS2/Assets/Prefabs/Sensors/CameraOrbbeck.prefab
  Gems/ROS2/Assets/Prefabs/Sensors/Imu.prefab
  Gems/ROS2/Assets/Prefabs/Sensors/LidarOS2.prefab
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Fix unattended change introduced by #74. (#109)
  Gems/RosRobotSample/Assets/robot/rosbot_xl_description/rosbot_xl.urdf
  LICENSE.txt
Owners: none

Remove unused field from ROS2 Gem. (#108)
  Gems/ROS2/Code/Source/VehicleDynamics/DriveModels/AckermannDriveModel.h
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Introduced XACRO parsing to ROS2 Gem (#90)
  Gems/ROS2/Code/Source/RobotImporter/Pages/CheckAssetPage.h
  Gems/ROS2/Code/Source/RobotImporter/Pages/CheckUrdfPage.cpp
  Gems/ROS2/Code/Source/RobotImporter/Pages/FileSelectionPage.cpp
  Gems/ROS2/Code/Source/RobotImporter/Pages/PrefabMakerPage.cpp
  Gems/ROS2/Code/Source/RobotImporter/Pages/XacroParamsPage.cpp
  Gems/ROS2/Code/Source/RobotImporter/Pages/XacroParamsPage.h
  Gems/ROS2/Code/Source/RobotImporter/RobotImporterWidget.cpp
  Gems/ROS2/Code/Source/RobotImporter/RobotImporterWidget.h
  Gems/ROS2/Code/Source/RobotImporter/xacro/XacroUtils.cpp
  Gems/ROS2/Code/Source/RobotImporter/xacro/XacroUtils.h
  Gems/ROS2/Code/Tests/UrdfParserTest.cpp
  Gems/ROS2/Code/ros2_editor_files.cmake
  Gems/ROS2/README.md
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Updated prefabs to follow new pattern that colliders require a rigid body (#114)
  Gems/WarehouseSample/Assets/O3DEScene/Prefabs/Warehouse.prefab
  Projects/OpenXRTest/Levels/DefaultLevel/DefaultLevel.prefab
  Templates/Multiplayer/Template/Levels/Demo/Demo.prefab
Owners: @o3de/sig-platform-reviewers, @o3de/sig-platform-maintainers, @o3de/sig-network-maintainers

updated links in ROS2 Gem instructions, including the example project (#96)
  Gems/ROS2/README.md
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Adjust ROS2 Gem to recent changes in PhysX Gem. (#167)
  Gems/ROS2/Code/Source/RobotImporter/URDF/URDFPrefabMaker.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

Set game-time drawing of primitive shapes imported from URDF.
  Gems/ROS2/Code/Source/RobotImporter/URDF/VisualsMaker.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

added constants
  Gems/ROS2/Code/Source/Frame/ROS2FrameComponent.cpp
Owners: @o3de/sig-simulation-reviewers, @o3de/sig-simulation-maintainers

.github/CODEOWNERS:

# SIG-Build (@o3de/sig-build-maintainers @o3de/sig-build-reviewers)

# SIG-Content (@o3de/sig-content-maintainers @o3de/sig-content-reviewers)

# SIG-Core (@o3de/sig-core-reviewers @o3de/sig-core-maintainers)

# SIG-Docs-Community

# SIG-Graphics-Audio (@o3de/sig-graphics-audio-maintainers @o3de/sig-graphics-audio-reviewers)

# SIG-Network (@o3de/sig-network-maintainers)
Templates/Multiplayer/ @o3de/sig-network-maintainers

# SIG-Operations

# SIG-Platform (@o3de/sig-platform-reviewers @o3de/sig-platform-maintainers)
Gems/OpenXRVk/ @o3de/sig-platform-reviewers @o3de/sig-platform-maintainers
Gems/XR/ @o3de/sig-platform-reviewers @o3de/sig-platform-maintainers
Projects/OpenXRTest/ @o3de/sig-platform-reviewers @o3de/sig-platform-maintainers

# SIG-Release

# SIG-Security

# SIG-Simulation (@o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers)
Gems/ROS2/ @o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers

# SIG-Testing (@o3de/sig-testing-reviewers)

# SIG-UI-UX
